#banner-wrap .slick-slider {
  width: 100%; }
  #banner-wrap .slick-slider img {
    width: 100%; }
  #banner-wrap .slick-slider .slick-dots {
    bottom: 0.1rem; }
    #banner-wrap .slick-slider .slick-dots li button:before {
      opacity: 0.7; }
    #banner-wrap .slick-slider .slick-dots .slick-active button:before {
      opacity: 0.8;
      color: white; }
