#main_wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #efefef;
  overflow-x: hidden;
  margin-bottom: 1rem; }
  #main_wrap .main-header {
    width: 100%;
    height: 0.9rem;
    background: linear-gradient(top, #2b2a2a, #414141);
    display: flex; }
    #main_wrap .main-header .icon {
      height: 0.9rem;
      width: 0.9rem;
      line-height: 0.9rem;
      text-align: center;
      display: inline-block;
      color: white;
      font-size: 0.4rem; }
    #main_wrap .main-header h3 {
      flex: 1;
      line-height: 0.9rem;
      text-align: center;
      color: white;
      font-size: 0.6rem; }
