#DetailHeader header {
  width: 100%;
  height: 0.9rem;
  background: linear-gradient(top, #2b2a2a, #414141);
  color: white;
  font-size: 0.4rem;
  display: flex;
  border-bottom: 0.01rem #fff solid; }
  #DetailHeader header span {
    display: block;
    line-height: 0.9rem;
    padding-left: 4%; }
  #DetailHeader header :nth-child(2) {
    width: 70%;
    height: 100%;
    text-align: center; }
  #DetailHeader header a {
    color: #fff;
    display: block;
    line-height: 0.9rem;
    padding-left: 4%; }

#DetailHeader .tab {
  width: 100%;
  height: 1rem;
  background: linear-gradient(top, #2b2a2a, #414141);
  display: flex; }
  #DetailHeader .tab li {
    flex: 1; }
    #DetailHeader .tab li a {
      width: 100%;
      height: 100%;
      display: block;
      color: #fff;
      font-size: 0.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
    #DetailHeader .tab li i {
      display: block;
      font-size: 0.4rem; }
    #DetailHeader .tab li span {
      display: block; }

#DetailHeader #tabNone {
  height: 0;
  overflow: hidden; }

#DetailHeader #tabBlock {
  height: 1rem; }

#DetailHeader .neck {
  width: 100%;
  height: 0.7rem; }
  #DetailHeader .neck .neck_up {
    width: 100%;
    height: 0.7rem;
    background: pink;
    line-height: 0.7rem;
    background: #f5f5f5; }
    #DetailHeader .neck .neck_up input {
      width: 80%;
      height: 0.5rem;
      border: none;
      border-radius: 0.35rem;
      margin-left: 0.2rem;
      padding-left: 0.2rem;
      font-size: 0.2rem;
      color: #bbb; }
    #DetailHeader .neck .neck_up button {
      border: none;
      width: 12%;
      height: 0.55rem;
      background: #f5f5f5;
      font-size: 0.2rem;
      color: #888; }
