#Detail-banwrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem; }
  #Detail-banwrap .slick-slider {
    height: 6rem;
    width: 68.5%; }
    #Detail-banwrap .slick-slider img {
      width: 100%;
      height: 6rem; }
    #Detail-banwrap .slick-slider .slick-dots {
      bottom: 0.1rem; }
      #Detail-banwrap .slick-slider .slick-dots li button:before {
        opacity: 0.7; }
      #Detail-banwrap .slick-slider .slick-dots .slick-active button:before {
        opacity: 0.8;
        color: white; }
