.goodscar-box {
  width: 100%;
  background: #f0f0f0; }
  .goodscar-box .goodscar-plslog {
    height: 0.5rem;
    color: #24acaa;
    text-align: center;
    font-size: 0.28rem;
    padding: 0.1rem 0; }
    .goodscar-box .goodscar-plslog span {
      margin-right: 1px; }
    .goodscar-box .goodscar-plslog a {
      display: inline-block;
      font-size: 0.28rem;
      color: white;
      padding: 0 0.09rem;
      line-height: 0.48rem;
      background: red;
      margin: 0 0.05rem; }
  .goodscar-box .logintrue {
    display: none; }
  .goodscar-box .loginfalse {
    display: block; }
  .goodscar-box .goodscar-empybox {
    width: 100%;
    text-align: center; }
    .goodscar-box .goodscar-empybox .iconfont {
      display: inline-block;
      font-size: 1.3rem;
      color: #9a9a9a;
      margin-top: 0.9rem; }
    .goodscar-box .goodscar-empybox p {
      margin-top: 0.5rem;
      color: black; }
    .goodscar-box .goodscar-empybox a {
      display: inline-block;
      border: 1px solid #505050;
      border-radius: 5px;
      margin: 0 auto;
      color: #fff;
      background: #444;
      font-size: 0.2rem;
      line-height: 0.4rem;
      padding: 0 0.3rem;
      margin-top: 0.4rem;
      margin-bottom: 0.8rem; }
  .goodscar-box .emtrue {
    display: none; }
  .goodscar-box .emfalse {
    display: block; }
  .goodscar-box .goodscar-isgoodbox {
    width: 100%;
    background: #f0f0f0; }
    .goodscar-box .goodscar-isgoodbox dl {
      width: 100%;
      background: #f0f0f0; }
      .goodscar-box .goodscar-isgoodbox dl dt {
        width: 100%;
        line-height: 0.5rem;
        color: #a3a3a3;
        padding-left: 0.3rem;
        box-sizing: border-box; }
      .goodscar-box .goodscar-isgoodbox dl dd {
        background: white;
        border-bottom: 0.2rem solid #f0f0f0;
        display: flex;
        padding: 0.15rem; }
        .goodscar-box .goodscar-isgoodbox dl dd .checkbox {
          width: 0.8rem;
          line-height: 100%;
          font-size: 0.4rem;
          display: flex;
          justify-content: center;
          align-items: center; }
        .goodscar-box .goodscar-isgoodbox dl dd .checked::before {
          content: "\e6a8"; }
        .goodscar-box .goodscar-isgoodbox dl dd .nochecked::before {
          content: "\e608"; }
        .goodscar-box .goodscar-isgoodbox dl dd .goods-info {
          flex: 1;
          width: 100%;
          display: flex; }
          .goodscar-box .goodscar-isgoodbox dl dd .goods-info .imgbox {
            width: 1.3rem; }
            .goodscar-box .goodscar-isgoodbox dl dd .goods-info .imgbox img {
              width: 100%; }
          .goodscar-box .goodscar-isgoodbox dl dd .goods-info .nocompile {
            display: block;
            flex: 1;
            padding-left: 0.3rem;
            padding-right: 0.15rem;
            box-sizing: border-box;
            margin-top: 0.15rem; }
            .goodscar-box .goodscar-isgoodbox dl dd .goods-info .nocompile .title {
              display: inline-block;
              width: 100%;
              font-size: 0.23rem;
              line-height: 0.4rem; }
            .goodscar-box .goodscar-isgoodbox dl dd .goods-info .nocompile .message {
              font-size: 0.25rem;
              color: #b6b6b6; }
            .goodscar-box .goodscar-isgoodbox dl dd .goods-info .nocompile .price {
              font-size: 0.25rem;
              color: #d0253b;
              margin-top: 0.15rem; }
          .goodscar-box .goodscar-isgoodbox dl dd .goods-info .iscompile {
            display: none; }
          .goodscar-box .goodscar-isgoodbox dl dd .goods-info .count {
            width: 0.3rem;
            padding-top: 0.2rem;
            font-size: 0.25rem;
            color: #b6b6b6; }
  .goodscar-box .gdtrue {
    display: block; }
  .goodscar-box .gdfalse {
    display: none; }

.compile .goodscar-isgoodbox dl dd .goods-info .nocompile {
  display: none; }

.compile .goodscar-isgoodbox dl dd .goods-info .iscompile {
  display: block;
  flex: 1;
  padding-left: 0.3rem;
  box-sizing: border-box; }
  .compile .goodscar-isgoodbox dl dd .goods-info .iscompile .btnbox {
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    width: 2.4rem;
    height: 1.2rem;
    background: white; }
    .compile .goodscar-isgoodbox dl dd .goods-info .iscompile .btnbox .btn {
      width: 100%;
      font-size: 0.25rem;
      color: #444; }
      .compile .goodscar-isgoodbox dl dd .goods-info .iscompile .btnbox .btn span {
        display: inline-block;
        text-align: center;
        line-height: 0.6rem;
        height: 0.6rem;
        font-weight: 600; }
      .compile .goodscar-isgoodbox dl dd .goods-info .iscompile .btnbox .btn .addcount, .compile .goodscar-isgoodbox dl dd .goods-info .iscompile .btnbox .btn .subcount {
        width: 0.6rem;
        font-size: 0.3rem; }
      .compile .goodscar-isgoodbox dl dd .goods-info .iscompile .btnbox .btn .num {
        width: 1.15rem;
        border: 1px solid #dfdfdf;
        border-top: 0;
        border-bottom: 0; }
    .compile .goodscar-isgoodbox dl dd .goods-info .iscompile .btnbox .message {
      width: 100%;
      height: 0.55rem;
      line-height: 0.6rem;
      border-top: 1px solid #dfdfdf;
      display: flex; }
      .compile .goodscar-isgoodbox dl dd .goods-info .iscompile .btnbox .message span {
        flex: 1;
        margin-left: 0.25rem; }
      .compile .goodscar-isgoodbox dl dd .goods-info .iscompile .btnbox .message i {
        width: 0.6rem;
        text-align: center;
        font-size: 0.23rem;
        font-weight: 600; }
  .compile .goodscar-isgoodbox dl dd .goods-info .iscompile .price {
    font-size: 0.25rem;
    color: #d0253b;
    margin-top: 0.15rem; }
