@charset "UTF-8";
#GoodsCar-wrap {
  width: 100%; }
  #GoodsCar-wrap .goodscar-header {
    width: 100%;
    height: 0.9rem;
    background: linear-gradient(top, #2b2a2a, #414141);
    border-bottom: 1px solid #EEEEEE;
    display: flex;
    color: white; }
    #GoodsCar-wrap .goodscar-header a,
    #GoodsCar-wrap .goodscar-header span {
      width: 0.9rem;
      height: 0.9rem;
      line-height: 0.9rem;
      font-size: 0.3rem;
      text-align: center;
      color: white; }
    #GoodsCar-wrap .goodscar-header span {
      margin-right: 0.2rem;
      font-size: 0.23rem;
      font-weight: 400; }
    #GoodsCar-wrap .goodscar-header .goodstrue {
      display: block; }
    #GoodsCar-wrap .goodscar-header .goodsfalse {
      display: none; }
    #GoodsCar-wrap .goodscar-header .goodscar-title {
      flex: 1;
      text-align: center;
      line-height: 0.9rem;
      font-size: 0.35rem; }
  #GoodsCar-wrap .goodscar-box {
    width: 100%;
    background: #f0f0f0; }
    #GoodsCar-wrap .goodscar-box .goodscar-plslog {
      height: 0.5rem;
      color: #24acaa;
      text-align: center;
      font-size: 0.28rem;
      padding: 0.1rem 0; }
      #GoodsCar-wrap .goodscar-box .goodscar-plslog span {
        margin-right: 1px; }
      #GoodsCar-wrap .goodscar-box .goodscar-plslog a {
        display: inline-block;
        font-size: 0.28rem;
        color: white;
        padding: 0 0.09rem;
        line-height: 0.48rem;
        background: red;
        margin: 0 0.05rem; }
    #GoodsCar-wrap .goodscar-box .logintrue {
      display: none; }
    #GoodsCar-wrap .goodscar-box .loginfalse {
      display: block; }
    #GoodsCar-wrap .goodscar-box .goodscar-empybox {
      width: 100%;
      text-align: center; }
      #GoodsCar-wrap .goodscar-box .goodscar-empybox .iconfont {
        display: inline-block;
        font-size: 1.3rem;
        color: #9a9a9a;
        margin-top: 0.9rem; }
      #GoodsCar-wrap .goodscar-box .goodscar-empybox p {
        margin-top: 0.5rem;
        color: black; }
      #GoodsCar-wrap .goodscar-box .goodscar-empybox a {
        display: inline-block;
        border: 1px solid #505050;
        border-radius: 5px;
        margin: 0 auto;
        color: #fff;
        background: #444;
        font-size: 0.2rem;
        line-height: 0.4rem;
        padding: 0 0.3rem;
        margin-top: 0.4rem;
        margin-bottom: 0.8rem; }
    #GoodsCar-wrap .goodscar-box .emtrue {
      display: none; }
    #GoodsCar-wrap .goodscar-box .emfalse {
      display: block; }
    #GoodsCar-wrap .goodscar-box .goodscar-isgoodbox {
      width: 100%;
      background: #f0f0f0; }
      #GoodsCar-wrap .goodscar-box .goodscar-isgoodbox dl {
        width: 100%;
        background: #f0f0f0; }
        #GoodsCar-wrap .goodscar-box .goodscar-isgoodbox dl dt {
          width: 100%;
          line-height: 0.5rem;
          color: #a3a3a3;
          padding-left: 0.3rem;
          box-sizing: border-box; }
        #GoodsCar-wrap .goodscar-box .goodscar-isgoodbox dl dd {
          background: white;
          border-bottom: 0.2rem solid #f0f0f0;
          display: flex;
          padding: 0.15rem; }
          #GoodsCar-wrap .goodscar-box .goodscar-isgoodbox dl dd .checkbox {
            width: 0.8rem;
            line-height: 100%;
            font-size: 0.4rem;
            display: flex;
            justify-content: center;
            align-items: center; }
          #GoodsCar-wrap .goodscar-box .goodscar-isgoodbox dl dd .checked::before {
            content: "\e6a8"; }
          #GoodsCar-wrap .goodscar-box .goodscar-isgoodbox dl dd .nochecked::before {
            content: "\e608"; }
          #GoodsCar-wrap .goodscar-box .goodscar-isgoodbox dl dd .goods-info {
            flex: 1;
            width: 100%;
            display: flex; }
            #GoodsCar-wrap .goodscar-box .goodscar-isgoodbox dl dd .goods-info .imgbox {
              width: 1.3rem; }
              #GoodsCar-wrap .goodscar-box .goodscar-isgoodbox dl dd .goods-info .imgbox img {
                width: 100%; }
            #GoodsCar-wrap .goodscar-box .goodscar-isgoodbox dl dd .goods-info .nocompile {
              display: block;
              flex: 1;
              padding-left: 0.3rem;
              padding-right: 0.15rem;
              box-sizing: border-box;
              margin-top: 0.15rem; }
              #GoodsCar-wrap .goodscar-box .goodscar-isgoodbox dl dd .goods-info .nocompile .title {
                display: inline-block;
                width: 100%;
                font-size: 0.23rem;
                line-height: 0.4rem; }
              #GoodsCar-wrap .goodscar-box .goodscar-isgoodbox dl dd .goods-info .nocompile .message {
                font-size: 0.25rem;
                color: #b6b6b6; }
              #GoodsCar-wrap .goodscar-box .goodscar-isgoodbox dl dd .goods-info .nocompile .price {
                font-size: 0.25rem;
                color: #d0253b;
                margin-top: 0.15rem; }
            #GoodsCar-wrap .goodscar-box .goodscar-isgoodbox dl dd .goods-info .iscompile {
              display: none; }
            #GoodsCar-wrap .goodscar-box .goodscar-isgoodbox dl dd .goods-info .count {
              width: 0.3rem;
              padding-top: 0.2rem;
              font-size: 0.25rem;
              color: #b6b6b6; }
    #GoodsCar-wrap .goodscar-box .gdtrue {
      display: block; }
    #GoodsCar-wrap .goodscar-box .gdfalse {
      display: none; }
  #GoodsCar-wrap .compile .goodscar-isgoodbox dl dd .goods-info .nocompile {
    display: none; }
  #GoodsCar-wrap .compile .goodscar-isgoodbox dl dd .goods-info .iscompile {
    display: block;
    flex: 1;
    padding-left: 0.3rem;
    box-sizing: border-box; }
    #GoodsCar-wrap .compile .goodscar-isgoodbox dl dd .goods-info .iscompile .btnbox {
      border: 1px solid #dfdfdf;
      border-radius: 3px;
      width: 2.4rem;
      height: 1.2rem;
      background: white; }
      #GoodsCar-wrap .compile .goodscar-isgoodbox dl dd .goods-info .iscompile .btnbox .btn {
        width: 100%;
        font-size: 0.25rem;
        color: #444; }
        #GoodsCar-wrap .compile .goodscar-isgoodbox dl dd .goods-info .iscompile .btnbox .btn span {
          display: inline-block;
          text-align: center;
          line-height: 0.6rem;
          height: 0.6rem;
          font-weight: 600; }
        #GoodsCar-wrap .compile .goodscar-isgoodbox dl dd .goods-info .iscompile .btnbox .btn .addcount,
        #GoodsCar-wrap .compile .goodscar-isgoodbox dl dd .goods-info .iscompile .btnbox .btn .subcount {
          width: 0.6rem;
          font-size: 0.3rem; }
        #GoodsCar-wrap .compile .goodscar-isgoodbox dl dd .goods-info .iscompile .btnbox .btn .num {
          width: 1.15rem;
          border: 1px solid #dfdfdf;
          border-top: 0;
          border-bottom: 0; }
      #GoodsCar-wrap .compile .goodscar-isgoodbox dl dd .goods-info .iscompile .btnbox .message {
        width: 100%;
        height: 0.55rem;
        line-height: 0.6rem;
        border-top: 1px solid #dfdfdf;
        display: flex; }
        #GoodsCar-wrap .compile .goodscar-isgoodbox dl dd .goods-info .iscompile .btnbox .message span {
          flex: 1;
          margin-left: 0.25rem; }
        #GoodsCar-wrap .compile .goodscar-isgoodbox dl dd .goods-info .iscompile .btnbox .message i {
          width: 0.6rem;
          text-align: center;
          font-size: 0.23rem;
          font-weight: 600; }
    #GoodsCar-wrap .compile .goodscar-isgoodbox dl dd .goods-info .iscompile .price {
      font-size: 0.25rem;
      color: #d0253b;
      margin-top: 0.15rem; }
  #GoodsCar-wrap .goodscar-footer {
    width: 100%;
    height: 1rem;
    background: white;
    position: fixed;
    bottom: 0;
    align-items: center;
    display: flex; }
    #GoodsCar-wrap .goodscar-footer .car-compilebtn {
      display: none; }
    #GoodsCar-wrap .goodscar-footer .checkbox {
      width: 0.8rem;
      height: 100%;
      line-height: 100%;
      font-size: 0.4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      #GoodsCar-wrap .goodscar-footer .checkbox span:first-child {
        display: inline-block;
        margin-top: 0.1rem; }
      #GoodsCar-wrap .goodscar-footer .checkbox span:last-child {
        display: inline-block;
        font-size: 0.22rem; }
      #GoodsCar-wrap .goodscar-footer .checkbox .checked::before {
        content: "\e6a8"; }
      #GoodsCar-wrap .goodscar-footer .checkbox .nochecked::before {
        content: "\e608"; }
    #GoodsCar-wrap .goodscar-footer .car-allprice {
      flex: 1;
      text-align: right;
      padding-right: 0.2rem;
      box-sizing: border-box; }
      #GoodsCar-wrap .goodscar-footer .car-allprice .price {
        color: #d0253b;
        font-size: 0.28rem; }
      #GoodsCar-wrap .goodscar-footer .car-allprice .intro {
        color: #b6b6b6;
        font-size: 0.2rem; }
    #GoodsCar-wrap .goodscar-footer .car-setbtn {
      width: 1.5rem;
      height: 0.7rem;
      line-height: 0.7rem;
      color: white;
      border-radius: 3px;
      text-align: center;
      background: #d0253b;
      border: none;
      font-size: 0.25rem;
      margin-right: 0.2rem; }
    #GoodsCar-wrap .goodscar-footer .car-setbtn:before {
      content: "结算"; }
  #GoodsCar-wrap .compilefooter .car-allprice {
    display: none; }
  #GoodsCar-wrap .compilefooter .car-setbtn:before {
    content: "删除"; }
  #GoodsCar-wrap .compilefooter .car-compilebtn {
    display: block;
    flex: 1;
    text-align: right; }
    #GoodsCar-wrap .compilefooter .car-compilebtn .car-collectbtn {
      width: 1.5rem;
      height: 0.7rem;
      line-height: 0.7rem;
      color: white;
      border-radius: 3px;
      text-align: center;
      background: grey;
      border: none;
      font-size: 0.25rem;
      margin-right: 0.2rem; }
