.kindsSearch{
       width:100%;
       height: 10rem;
       background:#eee;
    .flexibility{
        width:100%;
        height: 9.52rem;
        overflow: hidden;
       header{
              width:100%;
              height: 0.9rem;
              background: linear-gradient(top, #2b2a2a, #414141);
              color: white;
              font-size: 0.4rem;
              display: flex;
              border-bottom: 0.01rem #fff solid;
              span{
                     display: block;
                     line-height:  0.9rem;
                     padding-left: 4%;
              }
              :nth-child(2){
                     width:70%;
                     height: 100%;
                     text-align: center;
                     }
               a{
                    color:#fff;
                    display: block;
                     line-height:  0.9rem;
                     padding-left: 4%;
               }     
       }
       .tab{
             width:100%;
             height: 1rem;
             background: linear-gradient(top, #2b2a2a, #414141);
             display: flex;
             li{
                flex: 1;                                           
                 a{
                     width:100%;
                     height: 100%;
                     display: block;
                     color: #fff;
                     font-size: 0.2rem;
                     display: flex;
                     justify-content: center;
                     align-items: center;
                     flex-direction: column;
                 }
                  i{display: block;font-size: 0.4rem;}
                  span{display: block;}
             } 
       }
       #tabNone{
              height: 0;
              overflow: hidden;
       }
       #tabBlock{
             height: 1rem;
       }
       .neck{
             width:100%;
             height: 1.8rem;
             position: relative;
             .neck_up{
              width:100%;
              height: 0.7rem;
              background: pink;
              line-height: 0.7rem;
              background: #f5f5f5;
              input{
                   width:80%;
                   height:0.5rem;
                   border:none;
                   border-radius:0.35rem ;
                   margin-left: 0.2rem;
                   padding-left:0.2rem;
                   font-size: 0.2rem;
                   color: #bbb;                   
              }
              button{
                     border:none;
                     width:12%;
                     height: 0.55rem;
                     background: #f5f5f5;
                     font-size: 0.2rem;
                     color: #888;    
              }
               }
             .kinds_Search{
                  position: fixed;
                  z-index: 100;
                  width:100%;
                  background:#fff;
                  top:1.6rem;
                  padding-left: 0.2rem;
                  a{
                       width:100%;
                       height: 0.7rem;
                       border-bottom: solid #ddd 0.01rem;
                       display: block;
                       line-height: 0.8rem;
                       padding-left: 0.3rem;
                  }
             }
             .neck_down{
                      width:100%;
                      height: 1.1rem;
                      background:#fff;                     
                      overflow-x: scroll;
                      overflow-y: hidden;                    
                 ul{  
                      white-space: nowrap;
                      padding-top:0.2rem; 
//                    display: flex;
//                    justify-content: center;
//                    align-items: center;                
                      li{ 
                          font-size: 0.3rem;
                          padding:0 0.2rem;
                          display: inline-block;
                      }
                      span{
                          display: inline-block;
                          padding:0.1rem  0.2rem;
                          border:solid #ddd 0.01rem;
                          border-radius: 0.1rem;
                          margin:0.1rem 0.2rem 0.1rem 0;
                          font-size: 0.2rem;
                          color: #333;
                      }
                  }
               }
            }
        
       .kinds_contents{
           width:100%;
           height:6.5rem;
           background: #fff;
           margin-top:0.3rem;
           display: flex;
           justify-content: center;
           align-items: center;
           .kinds_contents_box{
                width:92%;
                height: 100%;
                font-size: 0.22rem;
                color: #aaa;
                .kinds_just_search{
                      
                 }    
                p{
                    margin-top:0.4rem;
                    height:0.4rem
                }
                span{
                      display: inline-block;
                      padding:0.1rem  0.2rem;
                      border:solid #ddd 0.01rem;
                      border-radius: 0.1rem;
                      margin:0.1rem 0.2rem 0.1rem 0;
                      font-size: 0.2rem;
                      color: #333;
                }
              }     
       }
    }
    .Kinds_bottom{
          width:100%;
          height: 0.86rem;
          background: #fff;
          display: flex;
          justify-content:space-between;
          align-items: center;
          span{
                margin: 0 0.3rem;
          }
    }
    .copyright{
           width:100%;
           height: 1rem;
           background: #e5e5e5;
           color:#666;
           display: flex;
           justify-content: center;
           align-items: center;
           margin-bottom: 0rem;
    }

}


