.head .header {
  height: 1.67rem;
  width: 100%;
  background: url("../../img/my/header-bg.jpg");
  background-size: cover;
  overflow: hidden;
}

.head .header a {
  display: block;
  width: 2.06rem;
  height: 0.67rem;
  line-height: 0.67rem;
  color: #fff;
  border: .05rem solid #fff;
  text-align: center;
  margin: 0.35rem auto 0;
  font-size: 0.28rem;
}

.head .nav {
  height: 0.78rem;
  width: 100%;
  display: flex;
  background: #444;
}

.head .nav a {
  flex: 1;
  height: 0.78rem;
  color: #fff;
 text-align: center;
 line-height:  0.78rem;


}

.head .nav .spacer {
  height: 0.43rem;
  width: 3px;
  background: #fff;
  margin-top:0.18rem;
}
.header-Info{
  width: 100%;
}
.header-Info .header-pic{
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-image: url(https://cdn.yoho.cn/m-yohobuy-node/6.0.23/img/home/index/user-avatar.png?15e9e058e4f);
  background-size: 100%;
  border: 5px solid #a7a8a9;
  float: left;
}
.header-Info .header-pho{
  color: #ffff;
  float: left;
  margin: 0.3rem;
}
.header-Info .header-signOut{
  color: #ffff;
  float: right;
  margin: 0.3rem;
}